![imagen](./img/ejercicios.png)

# INFORMACIÓN DEL PROYECTO

### TÍTULO

In [ ]:
#Escribe el título del proyecto en Markdown

#### LOS EFECTOS DE LOS PRINCIPALES INDICADORES ECONÓMICOS EN LOS MERCADOS BURSÁTILES DE ESTADOS UNIDOS

### TEMA

In [ ]:
# Describe brevemente el tema del proyecto en Markdown

Este EDA trata de analizar la interactuación histórica entre el comportamiento de varios de los principales indicadores económicos y los mercados bursátiles en los Estados Unidos para encontrar posibles correlaciones y tendencias de mercado.

### HIPÓTESIS

Define aquí lo que será la hipótesis de tu proyecto.
Puede que tengas más de una, pero tu proyecto lo harás teniendo una principal hipótesis.

In [ ]:
# Escribe tu hipótesis principal en Markdown

- Hay una correlación extremadamente negativa entre el comportamiento de los tipos de interés y la bolsa en los Estados Unidos

In [ ]:
# Escribe más hipótesis si las hubiera en Markdown

- Cuando los tipos de interés a largo plazo bajan en comparación con los del corto plazo, es muy probable que se aproxime una crisis bursátil.
- Una elevada inflación suele causar bajadas en los mercados bursátiles.
- Hay una correlación negativa entre el USD (Dólar) y los mercados bursátiles de USA.
- Los movimientos en el PIB de USA (GDP) y el mercado bursátil son correlacionados.
- El desempleo y el mercado de valores tienen una correlación negativa.
- Un elevado desempleo suele causar una subida en los tipos de interés; lo que, a su vez, causa la subida de los mercados.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

Incluye aquí una breve descripción del dataset o datasets de los que partirás para poder evaluar tu hipótesis. <br>
También incluye el origen de estos datos y su fuente.

In [ ]:
# describe la fuente de tus datos e incluye los links en Markdown

La fuente principal de mis datos es la [FRED Economic Data de la Fed de St. Louis](https://fred.stlouisfed.org/). Esta es una página web proporcionada por el banco central de USA que ofrece una API gratuita para la extracción de datos de muchos indicadores económicos y mercantiles.
De ahi extraigo lo siguiente:
- Los datos sobre los tipos de interés con diferentes rangos de duración (largo y corto plazo)
- Los datos sobre el desempleo
- Los datos sobre el USD
- Los datos sobre el [GDP](https://fred.stlouisfed.org/series/GDP)
- Los datos sobre la inflación

Además, para extraer los datos del mercado bursátil, utilizo otra API de !Yahoo Finanzas. [Aquí hay un ejemplo de uno de los índices bursátiles que extraigo a través de esta API](https://finance.yahoo.com/quote/SPY?p=SPY&.tsrc=fin-srch)

Muestra mediante un head() los principales datasets con los que vas a trabajar

In [4]:
# Primer dataset

# Para extraer los datos desde la API de FRED, 
# utilizo un bucle en el que hago la consulta a la FRED y 
# añado un indicador a una DataFrame global que contendrá todos los indicadores que utilizaré en el EDA.

# La extracción que utilizaré empieza en 1962 y va hasta el dia de hoy. 
# Algunos de los indicadores aparecen como NaN debido a que tienen otras franjas temporales, mensuales, anuales, trimestrales, etc.
# Esto será tratado en el EDA.

import pandas as pd
econ_data = pd.read_csv(r"C:\Users\Joan Oliver\Documents\Python Scripts\Economic Data Analysis\Economic_Data_Demo.csv")
econ_data.head()

,Unnamed: 0,10-Year Treasury Yield,2-Year Treasury Yield,Federal Funds Effective Rate,1-Month Treasury Yield,3-Month Treasury Yield,5-Year Treasury Yield,20-Year Treasury Yield,30-Year Treasury Yield,15-Year Mortgage Rate,...,Government Debt,Government Debt to GDP,Fed Total Assets,Exports,Imports,Trade Balance,Current Account,Current Account to GDP,Consumer Sentiment,US Dollar Index
0,2000-01-03,6.58,6.38,NaN,NaN,5.48,6.50,6.94,6.61,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,6.49,6.30,NaN,NaN,5.43,6.40,6.84,6.53,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-05,6.62,6.38,NaN,NaN,5.44,6.51,6.95,6.64,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-06,6.57,6.35,NaN,NaN,5.41,6.46,6.86,6.58,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-07,6.52,6.31,NaN,NaN,5.38,6.42,6.82,6.55,7.73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Siguiente dataset...
market_rets = pd.read_csv(r"C:\Users\Joan Oliver\Documents\Python Scripts\Economic Data Analysis\Market_Rets.csv")
market_rets.head()

,Date,GDX,SPY,VNQ,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
0,2003-04-11 00:00:00-04:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2003-04-14 00:00:00-04:00,NaN,0.020654,NaN,0.019882,0.004975,0.020063,0.017051,0.024289,0.017442,0.012875,0.016430,0.025609
2,2003-04-15 00:00:00-04:00,NaN,0.029985,NaN,0.037269,0.002274,0.037051,0.025434,0.026321,0.021078,0.025587,0.010185,0.032977
3,2003-04-16 00:00:00-04:00,NaN,0.012943,NaN,0.023804,-0.011264,0.023424,0.011742,0.033759,-0.007389,0.024541,-0.013475,0.019161
4,2003-04-17 00:00:00-04:00,NaN,0.027787,NaN,0.037977,0.008865,0.041250,0.028102,0.054564,0.010192,0.026636,-0.003631,0.038115